

.allArt {
  display: flex table-row;
  margin-right: 70%;
  background-color: rgb(206, 182, 195)
}  

.external-art-card {
  display: flex;
  margin-right: 100%
}

/* .browse-image {
  width: 250px
} */

/* .card-body {
  width: 300px
} */

.details-expand { 
  overflow: auto
}

.details-card {
  overflow: auto;
  margin-bottom: 0px
}

.addBtn {
  width: 300px;
  justify-content: center
}