.jumbotron1 {
  background: url("/photos/dragonwall2.jpg") no-repeat;
  background-size: cover
}

.jumbotron2 {
  background: url("/photos/rolfmural2.jpg") no-repeat;
  background-size: cover
}

.allArt {
  display: flex table-row;
  margin-right: 70%
}  

.external-art-card {
  display: flex;
  margin-right: 100%
}

/* .browse-image {
  width: 250px
} */

.card-body {
  padding-right: 50px
}

/* .browse-link {
  color: black
}
 */
.details-expand { 
  overflow: visible
}

.details-card {
  overflow: auto;
  margin-bottom: 0px
}

.addBtn {
  width: 300px;
  justify-content: center
}