.backBtn {
  position: sticky
}

.allArt {
  display: flex;
  margin-right: 70%
}  

.external-art-card {
  display: flex;
  margin-right: 100%
}

.browse-image {
  width: 250px
}

.card-body {
  width: 300px
}

.details-expand { 
  overflow: auto
}

.details-card {
  overflow: auto
}

.addBtn {
  width: 300px;
  justify-content: center
}